
*{
    font-family: Arial, Helvetica, sans-serif; 
    margin-bottom: 0.5%

}


.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
   }

h1 {
    text-align: center;
    line-height: 100px;
}


.hero{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    text-align: center;


}

.description{
    width: 100%
    
}


.projects{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;


}


.project{
    width: 80%
}


.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%
   

}
.contact{
display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 0.6rem;
    align-items: center;
}